.main{width:1000px;margin:auto;}
.breakingNews{background:red;width: 170px;float:left;padding: 7px;font-weight: bold;font-size: 19px;font-family: arial black;text-align: center;}
.Breaking_News{width: 816px;background:green;float:right;padding: 4px 0px;font-size: 21px;font-family: arial,black;font-weight: bold;}
.up_down{width:100%;background:blue;border:2px dashed #ddd;font-weight:bold;font-size:20px;text-align:center}
#wow{margin:auto;width: 476px;}